<div class="app">
  <form class="createCard">
    <div class="inputWrap">
      <label for="name">Name</label>
      <input name='name' type="text" [(ngModel)]="name">
    </div>

    <div class="inputWrap">
      <label for="note">Note</label>
      <input name='note' type="text" [(ngModel)]="note">
    </div>

    <div class="inputWrap">
      <label for="date">Due</label>
      <input name='date' type="date" [(ngModel)]="due">
    </div>
    <div class="inputWrap">
      <button class="add-btn" type="submit" (click)="add()">Add</button>
    </div>
  </form>
  <hr />
  <h1 *ngIf='!cards.length'>Empty</h1>
  <h1 *ngIf='cards.length'>Cards</h1>
  <div class="cardContainer" *ngFor='let card of cards'>
    <card [card]='card' (deleteEmitter)="delete($event)"></card>
  </div>
</div>